html, body {
  background-color: #cdcfd1;
  color: black;
  width: 100%;
  display:inline-block;
}

#root {
  margin:auto;
}

#view1, #view2 {
  text-align: center;
}

button {
  background-color: white !important;
  color:black !important;
  margin-top: 1em;
}

#gameView p, #resultView p  {
  margin: 1em 2em;
}

.cell {
  display: inline-block;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  background-color: white;
  overflow: hidden;
  color: black;
  font-size: 150px;
  text-align: center;
}

#row0 .col0 {
  border-top-left-radius: 10px;
}
#row0 .col2 {
  border-top-right-radius: 10px;
}
#row2 .col0 {
  border-bottom-left-radius: 10px;
}
#row2 .col2 {
  border-bottom-right-radius: 10px;
}

.cell.winningLine {
  color:green;
}
div.info{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

div.gameInfo{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  display: block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

div.gameInfo .join{
  font-size: 36px;
}

div#errorMsg{
  font-size: 28px;
  color: red;
}
div.gameItem{
  background-color: #28a78e;
  font-size: large;
}
div.rowInfo{
  background-color: #ffffff;
  font-size: small;
}
